REDIS_URL="redis://:REDIS@HOST:PORT"
REDIS_PASSWORD="REDIS"
ADMIN_INVITE_CODE="PLAYLIST"

DATABASE_URL=postgresql://playlist:playlist123@HOST:PORT/playlist
POSTGRES_USER=playlist
POSTGRES_PASSWORD=playlist123
POSTGRES_DB=playlist
