node_modules
dist
out
*.tgz
coverage
*.lcov
logs
*.log
.env
.env.*.local
.env.local
.eslintcache
.cache
*.tsbuildinfo
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
